<a href="https://colab.research.google.com/github/hyungaa/Jump-To-Python_Practice/blob/master/ML_chapter_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **제2강 파이썬 기본 문법 맛보기**

# **1. 변수/데이터형**

**변수 만들기(두 수 더하기)**

In [ ]:
a = 20
b = 30
c = a + b

print(c)

50

**변수 이름 만들기**

In [ ]:
x = 20
Computer = 'Mac'
Age = 30
my_score = 70
_name = '홍길동'
myBirthYear = 1997
data2 = 20.3

print(x, Computer, Age, my_score, _name, myBirthYear, data2)

20 Mac 30 70 홍길동 1997 20.3

**잘못된 변수 명**

In [ ]:
#오류 발생
eng score = 90
7font = '굴림'
My-age = 20
percent% = 100
animal# = '사슴'

SyntaxError: ignored

**정수형**

In [ ]:
x = 40
print(x)
print(type(x))

40
<class 'int'>

**실수형**

In [ ]:
x = 4.3244
y = 4/2
print(x, y)
print(type(x), type(y))

4.3244 2.0
<class 'float'> <class 'float'>

**문자열의 데이터형**

In [ ]:
a = '책'
b = 'hello world'
c = "파이썬"

print(a)
print(b)
print(c)
print(type(c))

책
hello world
파이썬
<class 'str'>

**10과 '10'의 차이**

In [ ]:
a = 10
print(a)
print(type(a))

b = '10'
print(b)
print(type(b))

10
<class 'int'>
10
<class 'str'>

**불 데이터형**

In [ ]:
a = True
b = False
print(a)
print(b)

c = 20 < 30
print(c)

print(type(a))

True
False
True
<class 'bool'>

# **2. 숫자 연산/문자열 처리**

**사칙연산자**

In [ ]:
a = 10
b = 20

c = a + b * 10 - 5 / 5
print(c)

209.0

나머지와 몫 연산자

In [ ]:
x = 10 % 3
print(x)
 
y = 7//3
print(y)

1
2

**거듭제곱 연산자**

In [ ]:
x = 3**3
print(x)

y = 2**4
print(y)

27
16

**할당 연산자**

In [ ]:
x = 20
x += 30    # x = x + 30 과 동일
print(x)

50

In [ ]:
x = 4
y = 5
x *= x + y   # x = x * (x + y)과 동일
print(x)

36

**문자열 길이 구하기**

In [ ]:
a = '파이썬은 진짜 좋아요!'
b = len(a)
print(b)

12

**문자열 연결하기**

In [ ]:
name = '파이썬'
connect = name + '_머신러닝'
print(connect)

파이썬_머신러닝

**문자열 포매팅**

In [ ]:
name = '김고려'
a = '내 이름은 %s입니다.' % name
print(a)

내 이름은 김고려입니다.

In [ ]:
temp_1 = 25
temp_2 = 2.32
seoul_temp = '서울의 기온은 %d도입니다.' % temp_1
us_temp = '미국의 기온은 %.2f도입니다.' % temp_2
print(seoul_temp)
print(us_temp)

서울의 기온은 25도입니다.
미국의 기온은 2.32도입니다.

In [ ]:
name = '고려사이버대학교'
year = 20
student = 10000

a = '학교명 : {}'.format(name)
b = '역사 : {}년'.format(year)
c = '학생수 : {}명'.format(student)

print(a)
print(b)
print(c)

학교명 : 고려사이버대학교
역사 : 20년
학생수 : 10000명

# **3. 입력과 출력**

**입력을 위한 함수**

In [ ]:
name = input('이름을 입력하세요 : ')
print('%s님 환영합니다.' % name)

이름을 입력하세요 : 김이박
김이박님 환영합니다.

**입력받은 수 다루기**

In [ ]:
a = input('첫 번째 숫자를 입력하세요 : ')
b = input('두 번째 숫자를 입력하세요 : ')
c = input('세 번째 숫자를 입력하세요 : ')
d = input('네 번째 숫자를 입력하세요 : ')

e = a+b
f = int(a) + int(b)
g = c+d

print(e)
print(f)
print(g)

KeyboardInterrupt: ignored

 **콤마를 활용한 출력**

In [ ]:
name = '고려사이버대학교'
year = 20
student = 10000

a = '학교명 : {}'.format(name)
b = '역사 : {}년'.format(year)
c = '학생수 : {}명'.format(student)

print(a)
print(b)
print(c)
print(a, b, c)

**문자열 연결기호(+)를 이용한 출력**

In [ ]:
x = 20
y = 30

print('x = ' + str(x) + ', y = ' + str(y))

**문자열 포맷팅(%)을 이용한 출력**

In [ ]:
age1 = 30
age2 = 40

sum = age1 + age2
avg = sum/2

print('두 사람 나이 : %d, %d' % (age1, age2))
print('합계 : %d, 평균 : %.2f' % (sum, avg))

**키워드 sep을 이용한 출력**

In [ ]:
year = 2021
month = 5
day = 5

print(year, month, day, sep='/')
print(year, month, day, sep=',')
print(year, month, day, sep=', ')

**이번 강의도 수고 많으셨습니다. 감사합니다.**