<a href="https://colab.research.google.com/github/hyungaa/Jump-To-Python_Practice/blob/master/Python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
multiline = "Life is too short\tYou need python"
print(multiline)

Life is too short	You need python

In [8]:
#문자열 포매팅
a = "I eat {0} apples".format("five")
print(a)

name = '홍길동'
age = 30
b = f'나의 이름은 {name}입니다. 나이는 {age}입니다.'
print(b)

d = {'name':'홍길동', 'age':30}
c = f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'
print(c)

I eat five apples
나의 이름은 홍길동입니다. 나이는 30입니다.
나의 이름은 홍길동입니다. 나이는 30입니다.

In [13]:
print(",".join('abcd'))
print(",".join(['a', 'b', 'c', 'd']))  #join

a,b,c,d
a,b,c,d

In [12]:
a = "hi"
print(a.upper())  #소문자 : lower()

HI

In [15]:
a = " hi "
print(a.lstrip()) # 왼쪽 공백 없애기
print(a.rstrip()) # 오른쪽 공백 없애기
print(a.strip())  # 양쪽 공백 없애기

hi
 hi
hi

In [18]:
a = "Life is too short"
print(a.replace("Life", "Your leg"))  #문자열 바꾸기

print(a.split()) # 문자열 나누기 ; 공백기준으로 나눔
b = "a:b:c:d"
print(b.split(':'))

Your leg is too short
['Life', 'is', 'too', 'short']
['a', 'b', 'c', 'd']